*{
    padding: 0;
    border: none;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
h1, h2, h3, h4, h5, h6{
    font-family:'Times New Roman';
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F1F0F0;
}
 .container{
    width: 1200px;
    margin: 0 auto;
}
.navigation .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid#475241;

}
.navigation .container .link{
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-top: 10px;
}
.navigation .container .link a{
    color: #475241;
    font-size: 12px;
    margin-left: 15px;
}
.navigation .container .link2{
    margin-right: 15px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.navigation .container .link2 a{
    color: #475241;
    font-size: 12px;
}

.about .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
.about .container .textik{
    width: 50%;
    margin-top: 70px;
    margin-right: 60px;
}
.about .container .textik p{
    font-size: 16px;
}
.about .container .textik h1{
    margin-bottom: 24px;
    font-size: 70px;
}

.about .container img{
    margin-top: 70px;
    margin-left: 60px;
}
.skill{
    background-color: #475241;
}
.skill .container .raz{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 30px;
    width: 80%;
}
.skill .container h1{
    color: #fff;
    padding-top: 30px;
    margin-bottom: 25px;
    margin-left: 30%;
    font-size: 60px;
}
.skill .container .raz .odin{
   background-color: #fff;
   width: 30%;
   margin-left: 30px;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-right: 15px;
   padding-left: 15px;
}
.skill .container .raz .odin p{
    font-size: 16px;
}
.skill .container .dva{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    margin-left: 30px;
}

.skill .container .dva .odin{
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    width: 30%;
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 25px;
 }
.skill .container .raz .dva p{
    font-size: 16px;
}